<% layout('layouts/boilerplate')%>

<h1>TheCampgrounds</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic officiis beatae suscipit maxime ipsa
  consectetur aut quia voluptatibus. Architecto sint molestias eos ipsum. Suscipit, voluptatibus.
  Reiciendis, quod. Sit, voluptas ipsam!
</p>
